body {
  text-align: center;
}

.ranking-container {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(41, 77, 119);
  border-radius: 20px;
  color: rgb(41, 77, 119);
  display: flex;
  flex-direction: column;
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  margin: 30px 0;
  padding-bottom: 35px;
  top: 50px;
  width: 85vw;
}

.ranking-title {
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  margin-top: 10%;
}

.btn {
  background-color: rgb(252, 168, 47);
  border: 1px solid rgb(254, 213, 155);
  border-radius: 10px;
  color: white;
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 25px;
  text-decoration: none;
}

.list-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 80%;
}

.player {
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  padding: 2%;
  width: 100%;
  word-wrap: break-word;
}

.player-pic {
  border-radius: 50%;
  height: 8vh;
}

.player-name {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  width: 40%;
  word-wrap: break-word;
}

.player-score {
  font-size: 1.1rem;
  margin: 0;
}

@media screen and (min-width: 800px) {
  .ranking-container {
    width: 550px;
  }

  .ranking-title {
    font-size: 1.3rem;
  }
}