/* * {
  border: 1px solid red;
} */

body {
  box-sizing: border-box;
  color: rgb(28, 30, 33);
  line-height: 1.34;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  background-color: rgb(59, 89, 152);
  display: flex;
  height: 82.99px;
  justify-content: center;
}

.header-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 980px;
}

.facebook-logo {
  height: 35px;
}

.login {
  color: white;
  display: flex;
  flex-direction: column;
}

.user-password-label {
  margin-left: 13px;
}

.forgot-password {
  color: white;
  margin-left: 135px;
  text-decoration: none;
}

.login button {
  background-color: rgb(59, 89, 152);
  border: 1px solid white;
  color: white;
  font-weight: 700;
  padding: 3px;
}

.main-container {
  background-image: linear-gradient(white, rgba(211, 216, 232, 1));
  display: flex;
  justify-content: space-around;
}

.main-sub-container {
  display: flex;
  flex-direction: row;
  width: 980px;
}

.user-name {
  display: flex;
}

footer {
  color: rgb(115, 115, 115);
  margin: 0 auto;
  width: 980px;
}

footer ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
