body {
  text-align: center;
}

.login-component {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(41, 77, 119);
  border-radius: 20px;
  color: rgb(41, 77, 119);
  display: flex;
  flex-direction: column;
  font-family: Nunito, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5vh;
  width: 60vw;
}

.gear {
  margin-left: 200px;
  transition-duration: 3s;
  width: 30px;
}

.gear:hover {
  transform: rotate(360deg);
}

.login-input {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: gray;
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 5%;
  padding: 10px;
  width: 60vw;
}

.logion-button {
  background-color: rgb(252, 168, 47);
  border: 1px solid rgb(254, 213, 155);
  border-radius: 10px;
  color: white;
  font-family: Nunito, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 15px 35px;
}

.logion-button:disabled {
  background-color: rgb(254, 213, 155);
}

@media screen and (min-width: 800px) {
  .login-component {
    width: 200px;
  }

  .login-input {
    width: 200px;
  }
} 