body {
  background-color: antiquewhite;
  text-align: center;
}
.text-input {
  width: 300px;
}
.meme-insert {
  width: 300px;
}
.meme-upload {
  margin: 20px;
  text-align: center;
}
.container {
  display: inline-block;
  margin: 20px;
}
.meme-image-container {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 500px;
  margin: 20px;
  position: relative;
  width: 500px;
}
.meme-image {
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}
.labelMeme {
  font-size: 20px;
  left: 820px;
  position: absolute;
}
.famous-memes {
  display: inline-block;
  height: 500px;
  margin: 20px;
  width: 200px;
}
.image-1 {
  cursor: pointer;
  max-width: 60%;
}
.image-2 {
  cursor: pointer;
  max-width: 60%;
}
.image-3 {
  cursor: pointer;
  max-width: 60%;
}.image-4 {
  cursor: pointer;
  max-width: 60%;
}
.meme-text {
  color: yellow;
  font-size: 25px;
  left: 10%;
  margin: 0 auto;
  max-height: 90%;
  max-width: 70%;
  padding: 20px;
  position: absolute;
  top: 75%;
  word-wrap: break-word;
  z-index: 1;
}
