.loading-icon {
  position: absolute;
  top: 35%;
  height: 20vh;
}

.question-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.question-and-answers {
  background-color: white;
  border: 1px solid rgb(41, 77, 119);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px 30px;
  width: 80vw;
}

.question {
  color: rgb(41, 77, 119);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: justify;
}

.question-category {
  background-color: rgb(252, 168, 47);
  border: 1px solid rgb(254, 213, 155);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.question-text {
  margin: 20px 1px;
  padding-left: 5px;
}

.answers-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answers-option {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: gray;
  font-size: 1.2rem;
  height: 80px;
  margin-bottom: 15px;
}

.answers-option:hover {
  background-color: rgba(97, 72, 241, 0.233);
  cursor: pointer;
  transition: all 200ms;
}

.answers-option:disabled {
  background-color: rgb(245, 243, 243);
  cursor: default;
  transition: none;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  border: 3px solid red;
}

.timer-and-next-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer {
  background-color: rgb(239, 83, 80);
  border: 1px solid rgb(239, 154, 154);
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 25px;
}

.btn-next {
  background-color: rgb(252, 168, 47);
  border: 1px solid rgb(254, 213, 155);
  border-radius: 10px;
  color: white;
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 35px;
}

.btn-next:hover {
  cursor: pointer;
}

.btn-next:disabled {
  visibility: hidden;
}

.hurry {
  animation: beatingHeart 1000ms normal 0s infinite;
}

@keyframes beatingHeart {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  10% {
    opacity: 0.9;
    transform: scale(1.05);
  }

  20% {
    opacity: 1;
    transform: scale(1);
  }

  30% {
    opacity: 0.9;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (min-width: 800px) {
  .question-and-answers {
    width: 550px;
  }

  .question {
    font-size: 1rem;
  }

  .answers-option {
    font-size: 1rem;
  }
}