/* * {
  border: 1px solid red
} */

body {
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  color: rgba(28, 25, 21, 1);
  display: flex;
  flex-flow: column nowrap;
  font-family: Vollkorn, serif;
  margin: 0;
  padding: 0;
}

/* Main container */
.container {
  align-items: center;
  background-color: rgba(241, 236, 233, 1);
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  font-family: Old newspaper font, Tahoma, sans-serif;
  justify-content: space-between;
  text-align: justify;
  width: 100%;
}

p {
  font-size: 18px;
  margin: 0 10px;
}

section {
  margin-bottom: 20px;
}

/* Header */
header {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 2%;
}

.header-title {
  display: none;
}

.header-figure {
  display: flex;
  margin: 0;
}

.header-logo {
  object-fit: contain;
  width: 100%;
}

/* News navigation */
.navigation {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 90%;
}

.navigation ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation li {
  display: flex;
}

.navigation img {
  width: 100%;
  object-fit: contain;
}

/* Container of the article */
.article-container {
  align-items: center;
  border: 3px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;
}

.fly {
  animation: flying 6s 3s 3 alternate forwards;
  left: -15px;
  object-fit: contain;
  position: absolute;
  top: 141px;
  transform: rotate(35deg);
  visibility: hidden;
  width: 20%;
}

@keyframes flying {

  30% {
    transform: translate(65px, 35px) rotate(100deg);
    visibility: visible;
  }

  80% {
    transform: translate(375px, 35px) rotate(100deg);
  }

  100% {
    transform: translate(330px, -8px) rotate(35deg);
    visibility: visible;
  }
}

/* News section 1 */
.section-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.exclusive-heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pointer-finger {
  animation: finger 3s steps(200, end);
  margin-left: 2px;
  width: 23%;
}

@keyframes finger {

  0% {
    transform: scale(0.7, 0.7);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.exclusive-box {
  display: flex;
  margin: 0;
  padding: 0;
  width: 75%;
}

.exclusive-box p {
  background-color: black;
  color: rgba(241, 236, 233, 1);
  font-family: Anton, sans-serif;
  font-size: 35px;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  transition: color 3s;
  width: 100%;
}

.escape-title {
  font-family: Qwigley, cursive;
  font-size: 57px;
  margin: 0;
  text-align: center;
}

.underline {
  animation: underline 6s 3s 3 alternate forwards;
  border-bottom: 2px solid black;
  left: 25px;
  position: absolute;
  top: 255px;
  visibility: hidden;
}

@keyframes underline {

  30% {
    visibility: visible;
    width: 0;
  }

  80% {
    visibility: visible;
    width: 323px;
  }

  100% {
    visibility: visible;
    width: 323px;
  }
}

.sirius {
  height: auto;
  object-fit: contain;
  width: 100%;
}

.section-1-aside-1 {
  align-items: flex-start;
  display: flex;
  margin: 0;
}

.section-1-aside-1 span {
  font-size: 30px;
}

/* News section 2 */
.section-2 {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  font-size: 10px;
  width: 100%;
}

.section-2 .section-title {
  color: black;
  font-family: Anton, sans-serif;
  font-size: 25px;
  letter-spacing: 7px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  transform: skew(1deg);
  width: 100%;
}

.section-2-aside-1 span {
  font-size: 30px;
}

.section-2 img {
  width: 80%;
}

/* News section 3 */
.section-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-3 .section-title {
  background-color: black;
  color: rgba(241, 236, 233, 1);
  font-family: Anton, sans-serif;
  font-size: 25px;
  letter-spacing: 7px;
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  transform: skew(1deg);
  width: 95%;
}

.section-3 .section-subtitle {
  color: black;
  font-family: Anton, sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 95%;
}

.section-3 img {
  width: 80%;
}

.section-3-aside-1 span {
  font-size: 30px;
}

/* News section 4 */
.section-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-4 .section-title {
  color: black;
  font-family: Anton, sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  transform: skew(1deg);
  width: 100%;
}

.section-4 img {
  width: 80%;
}

.section-4-aside-1 span {
  font-size: 30px;
}

.article-animation {
  animation: article-grow 4s steps(200, end);
  animation-play-state: paused;
}

@keyframes article-grow {

  0% {
    font-weight: 100;
  }

  100% {
    font-weight: 900;
    transform: scale(1.5, 1.5);
  }
}

/* Credits */
footer {
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

/* Layout for smaller screen */

@media screen and ( max-width : 760px ) {

  .logo {
    display: none;
  }

  .container-layout {
    background-color: yellow;
  }
}

/* Layout for larger screen */

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

/* Landscape mode */

@media screen and ( orientation : Landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
