/* #meals {
  height: 100vh;
  width: 100%;
  background: #0fa36b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #464646;
}

#rocksGlass {
  max-height: 80vh;
  animation: shake 1s infinite ease;
} */

/* #iceLeft { */
/* transform-origin set in px for firefox compatibility */
/* opacity: 0.6;
  transform-origin: 36px 66px;
  animation: clink .8s infinite ease;
} */

/* #iceRight { */
/* transform-origin set in px for firefox compatibility */
/* opacity: 0.6;
  transform-origin: 60px 78px;
  animation: clink .8s .2s infinite ease;
} */

/* #meals > span {
  color: aliceblue;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  animation: shake 1.5s infinite ease;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
} */

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --black: #000000;
  --grayHeavy: #494848;
  --grayMedium: #f4f3f3;
  --primary: #3D918F;
  --greenLight: #dff2f1;
  /* --primary: #6D3E50; */
  /* --primary: #31540B; */
  /* --background: rgb(49, 84, 11, 0.5); */
  --white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#meals {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* section, div {
  box-sizing: border-box;
} */
