<header>
  <nav style="display: flex; justify-content: space-around; align-items: center;">
    <h1>Cookmaster</h1>
    <% if (user) { %>
      <a data-testid="logout" href='/logout'"><%= user.name %> | Logout</a>
      <% } else { %>
      <a data-testid="login" href='/login'>Login</a>
      <% } %>
  </nav>
</header>
