{
  "extends": "airbnb",
  "rules": {
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "arrow-parens": [2, "always"],
    "quote-props": "off",
    "quotes": ["error", "double"],
    "comma-dangle": "off"
  },
  "env": {
    "browser": true,
    "mongo": true,
    "node": true,
    "jest": true
  }
}