<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('../header.ejs', {user}); %>
    <h2>Nova Receita</h2>
    <form action="/recipes" method="POST">
      <label for="name"
        >Nome da Receita
        <input type="text" data-testid="nome-receita" name="name" id="name"/><br />
      </label>
      <label for="ingredients"
        >Ingredientes
        <input name="ingredients" data-testid="ingredientes" type="text" id="ingredients"/><br />
      </label>
      <button data-testid="adicionar-ingrediente" type="button" id="addButton">
        Adicionar Ingrediente
      </button>
      <ul id="ingredientsList"></ul>
      <label for="instructions"
        >Modo de preparo
        <input
          type="text"
          data-testid="modo-de-preparo"
          name="instructions"
          id="instructions"
        /><br />
      </label>
      <a href="/">Voltar</a>
      <button data-testid="postar-receita" type="submit">Salvar</button>
    </form>
  </body>
</html>
<script>
  const ingredientsSet = new Set();
  const addButton = document.querySelector('#addButton');
  addButton.addEventListener('click', () => {
    let ingredientInput = document.querySelector('#ingredients').value;
    const ingredientsList = document.querySelector('#ingredientsList');
    const item = document.createElement('li');
    const deleteButton = document.createElement('button');
    deleteButton.innerText = 'Excluir Ingrediente';
    deleteButton.type = 'button';
    deleteButton.addEventListener('click', () => {
      item.remove();
      deleteButton.remove();
    });
    item.appendChild(document.createTextNode(ingredientInput));
    ingredientsSet.add(ingredientInput);
    ingredientsList.appendChild(item);
    ingredientsList.appendChild(deleteButton);
    ingredientInput = '';
  });
</script>
