<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <% if (message) {%>
    <div>
      <%= message %>
    </div>
    <% } %>
    <form action="/login" method="POST">
      <label for="emailInput">Email: </label>
      <input type="text" name="email" id="emailInput" data-testid="email" /><br />
      <label for="passwordInput">Senha: </label>
      <input type="password" name="password" id="passwordInput" data-testid="senha" /><br />
      <% if (redirect) { %>
      <input
        type="hidden"
        name="redirect"
        value="<%= decodeURIComponent(redirect) %>"
      />
      <% } %>
      <a href="/signup" data-testid="cadastrar">Cadastre-se!</a>
      <button type="submit" data-testid="entrar">Entrar</button>
    </form>
  </body>
</html>
