<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Logout</title>
  </head>
  <body>
    <h1>Você se desconectou com sucesso!</h1>
    <h4><a href="/login">Ir para o login</a></h4>
  </body>
</html>
