.feedback-container {
  background-color: white;
  border: 1px solid rgb(41, 77, 119);
  border-radius: 20px;
  color: rgb(41, 77, 119);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 20px 30px;
  width: 80vw;
}

.feedback-scoreboard {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.message {
  color: rgb(41, 77, 119);
  font-size: 1.2rem;
  margin: 1px;
}

.gif {
  border: 5px solid rgb(252, 168, 47);
  border-radius: 10px;
  height: 35vh;
  margin: 20px;
}

@media screen and (min-width: 800px) {
  .feedback-container {
    font-size: 1rem;
    width: 550px;
  }

  .message {
    font-size: 1rem;
  }
}