.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rgb-color {
  font-size: 25px;
}

.ballContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 60%;
}

.ball {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.answer {
  font-size: 25px;
}

.reset-game {
  font-size: 15px;
}

.reset-score-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 30%;
}

.score {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-around;
  width: 50%;
}
